<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @team.user_id %>
</p>

<p>
  <strong>Red:</strong>
  <%= @team.red %>
</p>

<p>
  <strong>Yellow:</strong>
  <%= @team.yellow %>
</p>

<p>
  <strong>Rpa:</strong>
  <%= @team.rpa %>
</p>

<p>
  <strong>Category:</strong>
  <%= @team.category %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
