<div class="block-center mt-xl wd-xl">
  <!-- START panel-->
  <div class="panel panel-dark panel-flat">
    <div class="panel-body">
      <p class="text-center pv">Formulário de usuário.</p>

        <%= form_for(@user, :html => {:class => 'mb-lg'}) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group has-feedback">
            <%= f.label :name, "Nome", :class => 'text-muted'%><br>
            <%= f.text_field :name, :class => 'form-control', :id => 'signupInputEmail1' %>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :email, :class => 'text-muted' %><br>
            <%= f.text_field :email, :class => 'form-control' %>
            <span class="fa fa-envelope form-control-feedback text-muted"></span>
          </div>
          <div class="form-group has-feedback">
            <%= f.label :password, "Senha", :class => 'text-muted' %><br>
            <%= f.password_field :password, :class => 'form-control' %>
            <span class="fa fa-lock form-control-feedback text-muted"></span>
          </div>
            <div class="form-group has-feedback">
              <%= f.label :password_confirmation, "Confirme sua senha", :class => 'text-muted' %><br>
              <%= f.password_field :password_confirmation, :class => 'form-control' %>
              <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
          <div class="actions">
            <%= f.submit 'Cadastrar', :class => 'btn btn-block btn-primary mt-lg' %>
          </div>
        <% end %>
    </div>
  </div>
  <!-- END panel-->
</div>
