<div class="block-center mt-xl wd-xl">
  <!-- START panel-->
  <div class="panel panel-dark panel-flat">
    <div class="panel-body">
      <p class="text-center pv">Formulário para jogador.</p>

      <%= form_for(@player, :html => {:class => 'mb-lg'}) do |f| %>
      <% if @player.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

          <ul>
          <% @player.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group has-feedback">
        <%= f.label :name, "Nome",:class => 'text-muted' %><br>
        <%= f.text_field :name,:class => 'form-control'  %>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :age, "Idade",:class => 'text-muted' %><br>
        <%= f.number_field :age,:class => 'form-control'  %>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :red, "Cartões vermelhos",:class => 'text-muted' %><br>
        <%= f.number_field :red,:class => 'form-control'  %>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :yellow, "Cartões amarelos", :class => 'text-muted' %><br>
        <%= f.number_field :yellow,:class => 'form-control'  %>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :team_id,"Time", :class => 'text-muted' %><br>
        <%= f.select :team_id, @teams.map{ |u| [u.name, u.id] }, :class => 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit 'Enviar', :class => 'btn btn-block btn-primary mt-lg' %>
      </div>
    <% end %>
    </div>
  </div>
  <!-- END panel-->
</div>

