<div class="container-fluid">
  <!-- START DATATABLE 1 -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Times
        </div>
        <div class="panel-body">
          <table id="datatable1" class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Red</th>
              <th>Yellow</th>
              <th>Team</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @players.each do |player| %>
              <tr>
                <td><%= player.name %></td>
                <td><%= player.age %></td>
                <td><%= player.red %></td>
                <td><%= player.yellow %></td>
                <td><%= player.team.name %></td>
                <td><%= link_to 'Show', player %></td>
                <td><%= link_to 'Edit', edit_player_path(player) %></td>
                <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Novo jogador', new_player_path %>
