<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @match.when %>
</p>

<p>
  <strong>Team:</strong>
  <%= @match.team %>
</p>

<p>
  <strong>Challenger:</strong>
  <%= @match.challenger %>
</p>

<p>
  <strong>Where:</strong>
  <%= @match.where %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
